<div class="cardDiv" *ngFor="let emp of Empdata">
<mat-card class="card" > 
    <mat-card-title>Name of Employee : {{emp.ename}}</mat-card-title>
    <mat-card-subtitle>Age of Employee : {{emp.eage}}</mat-card-subtitle>
    <mat-card-subtitle>Salary of Employee : {{emp.esal}}</mat-card-subtitle>
    <mat-card-content>
        Project Assigned:  {{projectAssign}}
    </mat-card-content>
    </mat-card>
</div>
<div class="back">
 <a  routerLink="/home"><button mat-raised-button color="primary">Go To Home</button> </a>
</div>